{% extends "base.html" %}
{% block content %}
<div class="test col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <h1 class="page-header">cms安全检测</h1>

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">cms安全检测 <i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">

{#<form class="form-horizontal" action="/info/who_is/" method="post">#}
{#                            <div class="form-group">#}
{#                                <label for="author-name" class="col-sm-2 col-sm-offset-1 control-label">目标域名#}
{#                                    >></label>#}
{#                                <div class="col-sm-6  text-center">#}
{#                                    <input type="text" class="form-control" id="author-name"#}
{#                                           placeholder="例：www.baidu.com"#}
{#                                           name="arg">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <div class="col-sm-offset-2 col-sm-10">#}
{#                                    <button type="submit" class="btn btn-success">运行</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
      <div class="input-group input-group-lg col-sm-6 col-sm-offset-3  text-center">
{#          <div class="col-sm-9  text-center">#}

        <input type="text" id="url" class="form-control" aria-label="..." name="url">
        <div class="input-group-btn">
            <button type="button" id="cms" class="btn btn-info btn-lg search-btn" aria-haspopup="true" aria-expanded="false"><b>检测</b></button>
                                </div>

{#        </div>#}
      </div>
    </div>
  </div>
  <div class="row main-panel">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id="color" class="panel panel-primary">

        <div class="panel-heading" id="result">
          结果：
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="text-wrap">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>
                    </div><!-- /.row -->


                </div>

            </div>
        </div>
    </div>
</div>

{#    <div class="col-md-12">#}
{#      <div class="text-wrap">#}
{#        CMS安全检测#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

<script type="text/javascript">
  nav.style.display = "none";
  var cmsapi = "/api/cms";
  var url = "";
  cmspocdict = {{data}}
  jindu = 0

  function request(url, type) {
    $.post(cmsapi, JSON.stringify({
      "url": url,
      "type": type
    }), function(results) {
      jindu += 1
      $("#result").html("当前检测:  " + cmspocdict[type] + "         扫描进度      " + toPercent(jindu / cmspocdict.length))
      if (toPercent(jindu / cmspocdict.length) == "100.0%") {
        $("#result").html("扫描结束           " + toPercent(jindu / cmspocdict.length))
      }
      if (results.status) {
        $('#poc_' + type).remove()
        $('<ul class="list-group" id="poc_' + type + '"><li class="list-group-item"><span class="text-primary">[+] 正在检测========>' +
          cmspocdict[type] + '</span></li><li class="list-group-item"><span class="text-success">' +
          results.pocresult + '</span></li></ul>').insertBefore("#poc_0")
      } else {
        $('#poc_' + type).html('<li class="list-group-item"><span class="text-primary">[+] 正在检测========>' +
          cmspocdict[type] + '</span></li><li class="list-group-item"><span class="text-danger">[-]未发现异常： ' +
          cmspocdict[type] + '</span></li>')
      }
    }, "json");
  }


  $(function() {
    $('#cms').click(function() {
      if (urlcheck()) {
        jindu = 0
        poclist = '<div class="panel-heading" id="result">结果：</div>'
        for (var i = 0; i < cmspocdict.length; i++) {
          poclist += '<ul class="list-group" id="poc_' + i + '"><li class="list-group-item"><span class="text-primary">正在检测========>' +
            cmspocdict[i] + '</span></li></ul>'
          $('#color').html(poclist)
          request(url, i)
        }
      }
    });
  });
</script>
{% endblock %}
